In [1]:
import os

path = "./data/"
file_list = os.listdir(path)
print(file_list)

['exdata03', 'fireData.csv', 'label.csv', 'labelStandarScaler.csv', 'mapping.csv', 'minmaxScaler.csv', 'OBS_ASOS_DD_20210519230918.csv', 'standarScaler.csv', 'weather.csv']

In [2]:
import pandas as pd


name = ["지점", "일시", "평균기온(°C)", "최저기온(°C)", "최고기온(°C)", "일강수량(mm)", "최대 풍속(m/s)", "평균 풍속(m/s)"]

file = pd.read_csv("./data/OBS_ASOS_DD_20210519230918.csv", encoding="cp949")
weather = file[name]
weather.columns=["location", "date", "avg_temp", "min_temp", "max_temp", "rainfall", "max_wind_speed", "avg_wind"]
print(weather.head())

   location        date  avg_temp  min_temp  max_temp  rainfall  \
0        98  2014-01-01       2.7      -2.7       7.1       NaN
1        98  2014-01-02       0.4      -4.3       6.5       NaN
2        98  2014-01-03       0.1      -4.2       5.8       NaN
3        98  2014-01-04      -1.1      -5.5       4.6       NaN
4        98  2014-01-05      -2.0      -6.5       4.0       NaN

   max_wind_speed  avg_wind
0             7.9       2.6
1             3.8       1.2
2             2.7       1.0
3             3.5       1.7
4             4.2       1.1

In [3]:
location = {98:'동두천', 119:'수원', 202:'양평', 203:'이천', 99:'파주'}

weather = weather.replace({'location':location})
weather.head()

,location,date,avg_temp,min_temp,max_temp,rainfall,max_wind_speed,avg_wind
0,동두천,2014-01-01,2.7,-2.7,7.1,NaN,7.9,2.6
1,동두천,2014-01-02,0.4,-4.3,6.5,NaN,3.8,1.2
2,동두천,2014-01-03,0.1,-4.2,5.8,NaN,2.7,1.0
3,동두천,2014-01-04,-1.1,-5.5,4.6,NaN,3.5,1.7
4,동두천,2014-01-05,-2.0,-6.5,4.0,NaN,4.2,1.1

In [4]:
weather.isnull().sum()

location             0
date                 0
avg_temp            14
min_temp             1
max_temp             0
rainfall          9060
max_wind_speed       1
avg_wind             9
dtype: int64

In [5]:
weather[['rainfall']] = weather[['rainfall']].fillna(0)
weather = weather.fillna(method='ffill', limit=4)
if weather.isnull().values.any() == True:
    weather_7 = weather_7.fillna(method='bfill', limit=4)

weather.isnull().sum()

location          0
date              0
avg_temp          0
min_temp          0
max_temp          0
rainfall          0
max_wind_speed    0
avg_wind          0
dtype: int64

In [6]:
weather.to_csv("./data/weather.csv", encoding="cp949")